
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height:600px;
    padding-bottom: 50px;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
}
#second-line-heading-lifted{
    margin-top: -40px;
}
p{
    text-align: justify;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 15px;
    float: left;
    
}
.half-width img{
    width: 100%;
}
#hero-part-image{
    margin-top: -70px;
}
#box-in-second-sec-pushed-down{
    padding-top: 100px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -70px;
}
.closing-gap-with-heading{
    margin-top: -20px;
}
.orange-highlight.closing-gap-with-h1{
    margin-top: -10px;
}
.half-width.box-shadow{
    box-shadow: 10px 10px 40px grey;
    height: 60%;
    background-color: white;
    padding:20px;
}
.experience-area{
    margin-top: 50px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#tahsin-passion{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#tahsin-bucketlist{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 14px;
}
.button-upper-part{
    margin-bottom: 30px;
}